$dlrgjugend-flamingo: (
  50 : #fae0ec,
  100 : #f3b3cf,
  200 : #eb80af,
  300 : #e34d8f,
  400 : #dd2677,
  500 : #d7005f,
  600 : #d30057,
  700 : #cd004d,
  800 : #c70043,
  900 : #be0032,
  A100 : #ffe6eb,
  A200 : #ffb3c2,
  A400 : #ff8099,
  A700 : #ff6784,
    contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
      )
);