$dlrgjugend-saphir: (
    50: #E1E6EA,
    100: #B3C1CC,
    200: #8098aa,
    300: #4d6f87,
    400: #27506e,
    500: #013154,
    600: #012c4d,
    700: #00082b,
    800: #011f3a,
    900: #001329,
    A100: #6397ff,
    A200: #3075ff,
    A400: #0054fc,
    A700: #004ce3,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);